<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
    <title>จัดการห้องเรียน</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/da08a429d6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/form.css">
    <link rel="stylesheet" href="/public/css/table.css">
    <link href="/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="/public/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-vT5UMPFvujzKqG/Hoj1+0Tk38fANyEelFoOAJu7+8hpA+gSJJi+1WG9CvjKr+J75N8/KDnAMrZbGU9aAAqJ5NA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .card {
            border-radius: 8px;
            transition: transform 0.2s ease-in-out;
        }

        .classroom-image {
            object-fit: cover;
            width: 100%;
            height: 200px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        /* Responsive layout */
        @media (max-width: 992px) {
            .row-cols-md-3 {
                grid-template-columns: repeat(2, 1fr);
                /* เปลี่ยนเป็น 2 คอลัมน์ */
            }

            .col.card.h-100 {
                margin-top: 10px;
                /* หรือปรับค่า margin-top ตามต้องการ */
            }

            .card {
                margin-top: 10px;
            }

        }

        @media (max-width: 768px) {
            .row-cols-md-3 {
                grid-template-columns: repeat(1, 1fr);
            }

            .col.card.h-100 {
                margin-bottom: 10px;
                /* หรือปรับค่า margin-top ตามต้องการ */
            }

            .card {
                margin-top: 10px;
            }

        }

        @media (max-width: 576px) {
            h6 {
                font-size: 1rem;
            }

            .card-title {
                font-size: 1.1rem;
            }

            .card-text {
                font-size: 0.9rem;
            }

            .card.h-100 {
                margin-bottom: 10px;
                /* หรือปรับค่า margin-top ตามต้องการ */
            }

            .card {
                margin-top: 10px;
            }

            /*CSS modal*/
            /* ปรับสไตล์ของ Modal */
            .modal-content {
                border-radius: 10px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                border: none;
            }

            /* ปรับสีและขนาดหัวข้อ Modal */
            .modal-header {
                background-color: #007bff;
                color: white;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .modal-title {
                font-weight: bold;
                font-size: 1.25rem;
            }

            /* ปุ่มปิด Modal */
            .modal-header .close {
                color: white;
                opacity: 0.8;
                font-size: 1.5rem;
            }

            .modal-header .close:hover {
                opacity: 1;
            }

            /* ปรับช่องกรอกข้อมูลให้ดูดีขึ้น */
            .form-group label {
                font-weight: bold;
                color: #333;
            }

            .form-control {
                border-radius: 5px;
                border: 1px solid #ccc;
                transition: all 0.3s ease-in-out;
            }

            .form-control:focus {
                border-color: #007bff;
                box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
            }

            /* ปรับปุ่มให้ดูมีมิติ */
            .modal-footer .btn {
                border-radius: 5px;
                padding: 8px 15px;
                font-size: 1rem;
                transition: all 0.3s ease-in-out;
            }

            .btn-primary {
                background-color: #007bff;
                border-color: #007bff;
            }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }

            .btn-secondary {
                background-color: #6c757d;
                border-color: #6c757d;
            }

            .btn-secondary:hover {
                background-color: #5a6268;
                border-color: #545b62;
            }

            input[type="file"] {
                display: none;
            }

            #feature_image {
                border: 1px solid #ccc;
                display: inline-block;
                padding: 6px 12px;
                cursor: pointer;
            }

            /* Responsive - ปรับขนาด Modal ให้พอดีกับหน้าจอเล็ก */
            @media (max-width: 576px) {
                .modal-dialog {
                    max-width: 90%;
                    margin: auto;
                }
            }

        }
        @media (max-width: 767px) {
    #notifyCount.translate-middle {
        transform: translate(-600%, 60%) !important;
    }
}
    </style>
</head>

<body id="page-top">
    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-text mx-3" style="font-size: 15px;">STD<span style="font-size: 12px;">s</span>
                    E-learning</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="#" id="dashboardLink">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lesson/tchr">
                    <i class="fas fa-book"></i>
                    <span>บทเรียน</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quizAdmin/tchr">
                    <i class="fas fa-book-open"></i>
                    <span>แบบทดสอบ</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news/tchr">
                    <i class="fas fa-newspaper"></i>
                    <span>บทความ</span></a>
            </li>
            <li class="nav-item">
                <a id="attemptLink" class="nav-link" href="/attempt/list">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span>คะแนน</span></a>
            </li>
            <li class="nav-item active">
                <a id="classroomLink" class="nav-link" href="#">
                    <i class="fas fa-chalkboard-user"></i>
                    <span>จัดการห้องเรียน</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="progressLink">
                    <i class="fa-solid fa-list-check"></i>
                    <span>ติดตามผลการเรียน</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/theme/teacher">
                    <i class="fas fa-question"></i>
                    <span>กระทู้ถาม-ตอบ</span></a>
            </li>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- notify -->
                    <div class="d-flex justify-content-end w-100">
                        <div class="dropdown no-arrow">
                            <a class="text-decoration-none dropdown-toggle text-secondary mx-3" href="#" id="notifyLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-bell" style="font-size: 1.5em;"></i>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white d-none"
                                    id="notifyCount"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right mt-3" id="notifyDropdown">
                                <li class="dropdown-item text-muted">ไม่พบการแจ้งเตือนใหม่</li>
                            </ul>
                        </div>
                    </div>
                    <!-- profile -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="d-flex flex-column align-items-end">
                                    <span id="userFirstname" class="mr-2 d-none d-lg-inline text-gray-800"></span>
                                    <span id="userRole" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                </div>
                                <i class="fa fa-user-circle-o fa-2x"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" id="profile-link">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    แก้ไขโปรไฟล์
                                </a>
                                <a class="dropdown-item" href="/change-password">
                                    <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                                    จัดการรหัสผ่าน
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" id="logout" data-toggle="modal"
                                    data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    ออกจากระบบ
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-dark">
                                จัดการห้องเรียน
                            </h6>
                        </div>
                        <div class="card-body">
                            <button class="btn btn-primary" id="btnCreate" data-toggle="modal"
                                data-target="#createClassroomModal">สร้างห้องเรียน</button>
                            <div class="row row-cols-1 row-cols-md-3 g-4 mb-2">
                                <% if (classroom && classroom.length> 0) { %>
                                    <% classroom.forEach(function(classroom) { %>
                                        <div class="col mb-3">
                                            <div class="card h-100">
                                                <% if (classroom.image && classroom.image.length> 0) { %>
                                                    <img src="data:image/png;base64,<%= classroom.image %>"
                                                        class="card-img-top classroom-image" alt="classroom Image"
                                                        height="200px" />
                                                    <% } else { %>
                                                        <img src="..." class="card-img-top" alt="ไม่พบรูป" />
                                                        <% } %>
                                                            <div class="card-body">

                                                                <p class="text-secondary">
                                                                    รหัสห้องเรียน : <%= classroom.roomCode %>
                                                                </p>
                                                                <h5 class="card-title text-dark font-weight-bold">
                                                                    <%= classroom.classroomName %>
                                                                </h5>

                                                                <% if (teacher) { %>
                                                                    <p class="card-text text-dark">
                                                                        ครูผู้สอน <%= teacher.firstname %>
                                                                            <%= teacher.lastname %>
                                                                    </p>
                                                                    <p class="card-text text-dark">
                                                                        โรงเรียน<%= teacher.school %>
                                                                    </p>
                                                                    <p class="card-text text-dark">
                                                                        จำนวนนักเรียนทั้งหมด: <%= classroom.attemptCount
                                                                            %> คน
                                                                    </p>
                                                                    <% } else { %>
                                                                        <p class="card-text">ไม่พบชื่อครูผู้สอน</p>
                                                                        <% } %>
                                                            </div>
                                                            <div class="card-footer d-flex justify-content-end">
                                                                <a href="/classroom/id/<%= classroom._id %>"
                                                                    class="btn btn-secondary">
                                                                    <i class="fas fa-user"></i>
                                                                </a>
                                                                <button type="button"
                                                                    class="btn btn-primary edit-btn ml-2"
                                                                    data-toggle="modal"
                                                                    data-target="#editClassroomModal"
                                                                    data-id="<%= classroom._id %>">
                                                                    <i class="fas fa-pen-square"></i>
                                                                </button>
                                                                <a href="#" class="btn btn-danger delete-btn ml-2"
                                                                    data-id="<%= classroom._id %>"
                                                                    data-teacher-id="<%= classroom.teacherId %>">
                                                                    <i class="fas fa-trash"></i>
                                                                </a>
                                                            </div>

                                            </div>
                                        </div>
                                        <% }); %>
                                            <% } else { %>
                                                <p>No classrooms found</p>
                                                <% } %>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; STD<span style="font-size: 12px;">s</span> E-learning</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    </div>
    <div class="modal fade" id="createClassroomModal" tabindex="-1" role="dialog"
        aria-labelledby="createClassroomModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createClassroomModalLabel">สร้างห้องเรียน</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="createClassroomForm" style="margin: 0; width: 100%;" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="classroomName">ชื่อห้องเรียน</label>
                            <input type="text" name="classroomName" class="form-control" id="classroomName" required />
                        </div>
                        <div class="form-group">
                            <label for="feature_image" id="feature_image">รูปภาพ</label>
                            <input type="file" id="feature_image" name="feature_image" class="form-control" required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="submit" name="submit" class="btn btn-primary">บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const editButtons = document.querySelectorAll('.edit-btn');
            editButtons.forEach(button => {
                button.addEventListener('click', async function () {
                    const classroomId = this.getAttribute('data-id');
                    try {
                        // Fetch the classroom data using the classroom ID
                        const response = await fetch(`/classroom/edit/${classroomId}`);
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        const classroomResponse = await response.json();

                        // Check if classroom data is available
                        if (classroomResponse.data) {
                            const classroom = classroomResponse.data;
                            // Populate the modal form with the classroom data
                            document.getElementById('editClassroomName').value = classroom.classroomName;
                            document.getElementById('editClassroomId').value = classroom._id;
                            document.getElementById('editClassroomTeacherId').value = classroom.teacherId;
                            // You can continue populating other fields here if needed
                        } else {
                            console.error('Classroom data not available');
                        }

                    } catch (error) {
                        console.error('Error fetching classroom data:', error);
                    }
                });
            });
        });
    </script>

    <div class="modal fade" id="editClassroomModal" tabindex="-1" role="dialog"
        aria-labelledby="editClassroomModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editClassroomModalLabel">แก้ไขห้องเรียน</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editClassroomForm" style="margin: 0; width: 100%;" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="editClassroomName">ชื่อห้องเรียน</label>
                            <input type="text" id="editClassroomName" name="classroomName" class="form-control"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="editFeatureImage">รูปภาพ</label>
                            <input type="file" id="editFeatureImage" name="image" class="form-control" required />
                        </div>
                    </div>
                    <input type="hidden" id="editClassroomId" name="classroomId" value="" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="submit" class="btn btn-primary">บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/public/js/sb-admin-2.js"></script>
    <script src="/public/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/public/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/public/js/datatables-demo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
    <script src="/public/js/tinymceInit.js"></script>
    <script src="/public/js/script.js"></script>
    <script src="/public/js/getdata.js"></script>
    <script src="/public/js/notification.js"></script>
    <script src="
    https://cdn.jsdelivr.net/npm/jwt-decode@4.0.0/build/cjs/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    

    <script src="/public/js/sb-admin-2.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
    <script>
        document.getElementById("createClassroomForm").addEventListener("submit", function (event) {
            let fileInput = document.getElementById("feature_image");
            let file = fileInput.files[0];

            const classroomName = document.getElementById("classroomName");
            if (classroomName.value.includes(" ")) {
                Swal.fire({
                    icon: "warning",
                    title: "ชื่อห้องเรียนของคุณไม่ควรมีช่องว่าง",
                    text: "ข้อมูลของคุณมีช่องว่างโปรดตรวจสอบข้อมูล.",
                });
                classroomName.focus();
                return; // Stop form submission if there is any space
            }

            // Check if file is an image
            if (file) {
                let allowedTypes = ["image/jpeg", "image/png", "image/gif", "image/webp"];
                if (!allowedTypes.includes(file.type)) {
                    Swal.fire({
                        icon: "error",
                        title: "ไฟล์ที่อัปโหลดไม่ใช่รูปภาพ",
                        text: "กรุณาอัปโหลดเฉพาะไฟล์รูปภาพ (JPEG, PNG, GIF, WebP)",
                    });
                    event.preventDefault();
                }
            }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const createForm = document.getElementById('createClassroomForm');
            const editForm = document.getElementById('editClassroomForm');

            createForm.addEventListener('submit', async function (event) {
                event.preventDefault();

                const formData = new FormData(createForm);
                const token = localStorage.getItem('token');
                const decodedToken = jwtDecode(token); // Adjust this according to your token structure
                const userId = decodedToken.userId; // Assuming userId is a field in your token
                try {
                    if (!token) {
                        throw new Error('Token not found in localStorage');
                    }
            
                    const response = await fetch('/classroom/createClassroom', {
                        method: 'POST',
                        headers: {
                            'Authorization': `Bearer ${token}`
                        },
                        body: formData
                    });

                    if (response.ok) {

                        $('#createClassroomModal').modal('hide');
                        location.reload();
                        // Optionally, you can reload the classroom list or perform other actions
                    } else {
                        const errorData = await response.json();
                        console.error('Error creating classroom:', errorData.error);
                        alert('Failed to create classroom: ' + errorData.error);
                    }
                } catch (error) {
                    console.error('Error creating classroom:', error);
                    alert('An error occurred: ' + error.message);
                }
            });

            editForm.addEventListener('submit', async function (event) {
                event.preventDefault();

                const formData = new FormData(editForm);
                const token = localStorage.getItem('token');

                try {
                    if (!token) {
                        throw new Error('Token not found in localStorage');
                    }

                    const classroomId = formData.get('classroomId'); // Assuming you have a hidden field for classroom ID

                    const response = await fetch(`/classroom/edit/${classroomId}`, {
                        method: 'POST',
                        headers: {
                            'Authorization': `Bearer ${token}`
                        },
                        body: formData
                    });

                    if (response.ok) {
                        Swal.fire({
                            title: 'การอัพเดทห้องเรียนสำเร็จ',
                            icon: 'success',
                            confirmButtonText: 'ต่อไป',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $('#editClassroomModal').modal('hide');
                                location.reload();
                            }
                        });
                        // Optionally, you can reload the classroom list or perform other actions
                    } else {
                        const errorData = await response.json();
                        console.error('Error editing classroom:', errorData.error);
                        alert('Failed to edit classroom: ' + errorData.error);
                    }
                } catch (error) {
                    console.error('Error editing classroom:', error);
                    alert('An error occurred: ' + error.message);
                }
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.delete-btn');

            deleteButtons.forEach(button => {
                button.addEventListener('click', function (event) {
                    event.preventDefault(); // Prevent the default link behavior

                    const classroomId = this.getAttribute('data-id');
                    const teacherId = this.getAttribute('data-teacher-id');

                    Swal.fire({
                        title: "คุณต้องการลบห้องเรียนนี้ใช่หรือไม่?",
                        text: "การลบจะไม่สามารถกู้คืนได้!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: 'ใช่',
                        cancelButtonText: 'ไม่'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Redirect to delete URL if confirmed
                            window.location.href = `/classroom/delete/${classroomId}/${teacherId}`;
                        }
                    });
                });
            });
        });
    </script>

    <script>
        // Ensure the DOM is fully loaded
        document.addEventListener('DOMContentLoaded', function () {
            const token = localStorage.getItem('token');
            const decodedToken = jwtDecode(token); // Decodes the JWT token

            // Assuming userId is a field in your token
            const userId = decodedToken.userId;
            if (userId) {
                // Set the href attribute with the userId
                const classroomLink = document.getElementById('classroomLink');
                const attemptLink = document.getElementById('attemptLink');
                const progressLink = document.getElementById('progressLink');
                const profileLink = document.getElementById('profile-link');
                const dashboardLink = document.getElementById('dashboardLink');
                profileLink.href = `/profile/${userId}`;
                progressLink.href = `/progress/${userId}`;
                classroomLink.href = `/classroom/teacher/${userId}`;
                attemptLink.href = `/attempt/list/${userId}`;
                dashboardLink.href = `/teacher/dashboard/${userId}`;

            }

            // Fetch notifications
            fetchNotifications(userId);
        });
    </script>
    <script src="/public/js/profileDetail.js"></script>
    <script src="/public/js/logout.js"></script>
    <script src="/public/js/teacherRoleCheck.js"></script><!-- Check teacher role -->
    <script src="/public/js/tokenChecked.js"></script><!-- Check login -->
</body>

</html>