<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
    <title>ห้องเรียนของฉัน</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/da08a429d6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/form.css">
    <link rel="stylesheet" href="/public/css/table.css">
    <link href="/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="/public/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-vT5UMPFvujzKqG/Hoj1+0Tk38fANyEelFoOAJu7+8hpA+gSJJi+1WG9CvjKr+J75N8/KDnAMrZbGU9aAAqJ5NA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-text mx-3" style="font-size: 15.5px;">STD<span
                        style="font-size: 12px;">s</span> E-learning</div>
            </a>
            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" href="#" id="classroomLink"> <!-- Copy 1 -->
                    <i class="fa-solid fa-chalkboard-user"></i>
                    <span>ห้องเรียน</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="lessonLink">
                    <i class="fa-solid fa-book"></i>
                    <span>บทเรียน</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news/std">
                    <i class="fas fa-newspaper"></i>
                    <span>บทความ</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="scorelink">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span>คะแนน</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/theme">
                    <i class="fas fa-question"></i>
                    <span>กระทู้ถาม-ตอบ</span></a>
            </li>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>
                    <div class="d-flex justify-content-end w-100">
                        <div class="dropdown no-arrow">
                            <a class="text-decoration-none dropdown-toggle text-secondary mx-3" href="#" id="notifyLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-bell" style="font-size: 1.5em;"></i>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white d-none"
                                    id="notifyCount"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right mt-3" id="notifyDropdown">
                                <li class="dropdown-item text-muted">ไม่พบการแจ้งเตือนใหม่</li>
                            </ul>
                        </div>
                    </div>

                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="d-flex flex-column align-items-end">
                                    <span id="userFirstname" class="mr-2 d-none d-lg-inline text-gray-800"></span>
                                    <span id="userRole" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                </div>
                                <i class="fa fa-user-circle-o fa-2x" style="color: #393939;"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" id="profile-link">
                                    <i class=" fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    แก้ไขโปรไฟล์
                                </a>
                                <a class="dropdown-item" href="/change-password">
                                    <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                                    จัดการรหัสผ่าน
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" id="logout" data-toggle="modal"
                                    data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    ออกจากระบบ
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    <div class="card-body">
                        <% if (classroom && classroom.length> 0) { %>
                            <button class="btn btn-primary" id="btnCreate" data-toggle="modal"
                                data-target="#createQuestionModal" disabled>เข้าห้องเรียน</button>
                            <% } else { %>
                                <button class="btn btn-primary" id="btnCreate" data-toggle="modal"
                                    data-target="#createQuestionModal">เข้าห้องเรียน</button>
                                <% } %>
                                    <% if (classroom && classroom.length> 0) { %>
                                        <div class="row row-cols-1 row-cols-md-3 g-4">
                                            <% classroom.forEach(function(classroom) { %>
                                                <div class="col">
                                                    <div class="card h-100">
                                                        <% if (classroom.image && classroom.image.length> 0) { %>
                                                            <img src="data:image/png;base64,<%= classroom.image %>"
                                                                class="card-img-top classroom-image"
                                                                alt="classroom Image" height="200px" />
                                                            <% } else { %>
                                                                <img src="..." class="card-img-top" alt="ไม่พบรูป" />
                                                                <% } %>
                                                                    <div class="card-body">
                                                                        <div class="pb-3">
                                                                            <a href="/lesson/std/<%= classroom._id %>"
                                                                                class="h4 text-dark font-weight-bold">
                                                                                <%= classroom.classroomName %>
                                                                            </a>
                                                                            <small class="text-muted">#<%=
                                                                                    classroom.roomCode %>
                                                                            </small>
                                                                        </div>


                                                                        <% if (teacher) { %>
                                                                            <p class="card-text">
                                                                                ครูผู้สอน <%= teacher.firstname %>
                                                                                    <%= teacher.lastname %>
                                                                            </p>
                                                                            <p class="card-text">
                                                                                โรงเรียน<%= teacher.school %>
                                                                            </p>
                                                                            <% } else { %>
                                                                                <p class="card-text">Teacher
                                                                                    data not
                                                                                    available
                                                                                </p>

                                                                                <% } %>

                                                                    </div>
                                                                    <div class="card-footer d-flex justify-content-end">
                                                                        <a href="#" id="quit-link"
                                                                            class="btn btn-link text-danger">
                                                                            <i
                                                                                class="fa-solid fa-right-from-bracket"></i>
                                                                            ออกจากห้อง
                                                                        </a>
                                                                    </div>
                                                    </div>
                                                </div>
                                                <% }); %>
                                                    <% } else { %>
                                                        <div class="alert alert-secondary" role="alert">
                                                            ยังไม่ได้เข้าห้องเรียน</div>
                                                        <% } %>
                                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createQuestionModal" tabindex="-1" role="dialog"
        aria-labelledby="createQuestionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createQuestionModalLabel">เข้าห้องเรียน</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="createClassroomForm" style="margin: 0; width: 100%;">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="classroomName">รหัสห้องเรียน</label>
                            <input type="text" name="roomCode" class="form-control" />
                            <input type="hidden" id="studentId" name="studentId" value="" />
                            <input type="hidden" id="email" name="email" value="" />
                            <input type="hidden" id="role" name="role" value="" />
                            <input type="hidden" id="firstname" name="firstname" value="" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                        <button type="submit" name="submit" class="btn btn-primary">เข้า</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script src="
    https://cdn.jsdelivr.net/npm/jwt-decode@4.0.0/build/cjs/index.min.js"></script>
    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/public/js/sb-admin-2.min.js"></script>
    <script src="/public/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/public/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/public/js/datatables-demo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
    <script src="/public/js/tinymceInit.js"></script>
    <script src="/public/js/script.js"></script>
    <script src="/public/js/getdata.js"></script>

    <script src="/public/js/profileDetail.js"></script>
    <script src="/public/js/logout.js"></script>

    <script src="/public/js/studentRoleCheck.js"></script>
    <script src="/public/js/tokenChecked.js"></script><!-- Check login -->
    <script src="/public/js/notification.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Assuming your token is stored in localStorage under the key 'token'
            const token = localStorage.getItem('token');

            if (token) {
                try {
                    const decodedToken = jwtDecode(token); // Decodes the JWT token

                    // Assuming userId is a field in your token
                    const userId = decodedToken.userId;
                    const email = decodedToken.email;
                    const role = decodedToken.role;
                    const firstname = decodedToken.firstname;
                    if (userId) {
                        fetchNotifications(userId); // Ensure fetchNotifications is defined
                    }
                    // Example usage: set the userId value to an input field
                    document.getElementById('studentId').value = userId;
                    document.getElementById('email').value = email;
                    document.getElementById('role').value = role;
                    document.getElementById('firstname').value = firstname;
                } catch (error) {
                    console.error('Error decoding token:', error);
                    // Handle error if decoding fails
                }
            }
        });


        document.getElementById('createClassroomForm').addEventListener('submit', async function (event) {
            event.preventDefault(); // Prevent the default form submission

            const formData = new FormData(this);
            const data = Object.fromEntries(formData.entries());

            try {
                const response = await fetch('/classroomAttempt/create', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    const result = await response.json();
                    const { studentId, newToken } = result;
                    // Save the new token back to localStorage
                    localStorage.setItem('token', newToken);

                    // Redirect the user or perform other actions
                    window.location.href = `/classroom/std/${studentId}`;
                } else {
                    console.error('Failed to create classroom attempt');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });

    </script>

    <!-- Copy 2 -->
    <script>
        // Ensure the DOM is fully loaded
        document.addEventListener('DOMContentLoaded', function () {
            const token = localStorage.getItem('token');
            const decodedToken = jwtDecode(token); // Decodes the JWT token
            const classroomId = decodedToken.classroomId;
            // Assuming userId is a field in your token
            const userId = decodedToken.userId;
            if (userId) {
                // Set the href attribute with the userId
                const classroomLink = document.getElementById('classroomLink');
                classroomLink.href = `/classroom/std/${userId}`;

                const scorelink = document.getElementById('scorelink');
                scorelink.href = `/attempt/score/${userId}`;

                const profileLink = document.getElementById('profile-link');
                profileLink.href = `/profile/${userId}`;
            }

            if (classroomId) {
                const lessonLink = document.getElementById('lessonLink');
                lessonLink.href = `/lesson/std/${classroomId}`;
            }

            if (userId && classroomId) {
                const quitLink = document.getElementById('quit-link');
                quitLink.href = `/classroomAttempt/std/delete/${userId}/${classroomId}`
            }
        });
    </script>
    <!-- End Copy -->


</body>

</html>