<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/public/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
  <link rel="manifest" href="/public/site.webmanifest">
  <title>แก้ไขบทเรียน</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
  <script src="https://kit.fontawesome.com/da08a429d6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/css/form.css">
  <link rel="stylesheet" href="/public/css/table.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
  <script src="https://kit.fontawesome.com/da08a429d6.js" crossorigin="anonymous"></script>
  <link href="/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Noto+Sans+Thai:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="/public/css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-vT5UMPFvujzKqG/Hoj1+0Tk38fANyEelFoOAJu7+8hpA+gSJJi+1WG9CvjKr+J75N8/KDnAMrZbGU9aAAqJ5NA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    /* General styles for the container and card */
    .container-fluid {
      padding-top: 20px;
    }

    .card {
      border-radius: 20px !important;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      /* Adds a subtle shadow for a modern look */
    }


    .card-body {
      background-color: #fff;
      padding: 30px;
    }

    /* Styling for the form */
    .form-row {
      margin-bottom: 15px;
    }

    .form-group label {
      font-size: 16px;
      font-weight: 500;
      color: #333;
    }

    .form-control {
      font-size: 16px;
      padding: 12px;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    textarea {
      width: 100%;
      padding: 12px;
      border-radius: 5px;
      border: 1px solid #ccc;
      resize: vertical;
      font-size: 16px;
      box-sizing: border-box;
    }

    /* Image upload styling */
    input[type="file"] {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      cursor: pointer;
      width: 100%;
      font-size: 16px;
      margin-top: 10px;
    }

    img {
      margin-top: 10px;
      max-width: 50%;
      height: auto;
    }

    /* Button styling */
    .submit-btn {
      text-align: center;
    }

    .submit-btn .btn {
      color: white;
      padding: 8px 15px;
      background-color: #4e73df;
      font-size: 18px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .submit-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      padding: 12px 30px;
      font-size: 18px;
      text-align: center;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .img-fluid {
      width: 500px;
      /* Fixed width for the image */
      height: 300px;
      /* Fixed height for the image */
      object-fit: cover;
      /* Ensure the image covers the area without distortion */
    }

    /* Responsive design */
    @media screen and (max-width: 768px) {
      .card-body {
        padding: 20px;
      }

      .form-group label {
        font-size: 14px;
      }

      .form-control {
        font-size: 14px;
        padding: 10px;
      }

      .submit-btn .btn {
        font-size: 16px;
        padding: 8px 16px;
      }

      .container-fluid {
        padding-top: 5px;
      }
    }

    @media screen and (max-width: 576px) {
      .submit-btn .btn {
        font-size: 14px;
        padding: 10px;
        width: 100%;
      }
    }
  </style>
</head>

<body id="page-top">
  <div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-text mx-3" style="font-size: 15.5px;">STD<span style="font-size: 12px;">s</span>
          E-learning</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider">
      <li class="nav-item active">
        <a class="nav-link" href="/lesson">
          <i class="fas fa-book"></i>
          <span>บทเรียน</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/quizAdmin">
          <i class="fas fa-book-open"></i>
          <span>แบบทดสอบ</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">
          <i class="fas fa-newspaper"></i>
          <span>บทความ</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user">
          <i class="fas fa-user-group"></i>
          <span>จัดการผู้ใช้งาน</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/theme/admin">
          <i class="fas fa-question"></i>
          <span>กระทู้ถาม-ตอบ</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/report/admin">
          <i class="bi bi-flag-fill"></i>
          <span>จัดการรายงาน</span></a>
      </li>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <form class="form-inline">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
          </form>

          <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="d-flex flex-column align-items-end">
                  <span id="userFirstname" class="mr-2 d-none d-lg-inline text-gray-800"></span>
                  <span id="userRole" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                </div>
                <i class="fa fa-user-circle-o fa-2x"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" id="logout" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>
        </nav>
        <h1 class="headL" style="text-align: center; color: #333;">แก้ไขบทเรียน</h1>
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <form action="/lesson/edit/<%= editLesson._id %>" method="POST" enctype="multipart/form-data">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">บทที่</label>
                    <input type="text" class="form-control" class="bx" name="newLessonNum" placeholder="บทที่"
                      value="<%= editLesson.lessonNum %>" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastname">ชื่อบทเรียน</label>
                    <input type="text" class="form-control" class="bx" name="newLessonName" placeholder="ชื่อบทเรียน"
                      value="<%= editLesson.lessonName %>" required>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputEmail4">เนื้อหา</label>
                    <textarea id="my-expressjs-tinymce-app" name="newContent"
                      value="<%= editLesson.content %>"><%= editLesson.content %></textarea><br />
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputEmail4">รูปปก</label>
                    <% if (editLesson.image) { %>
                      <img src="data:image/jpeg;base64,<%= editLesson.image %>" alt="Image" class="img-fluid">
                      <% } %> <br>
                        <input type="file" id="image" name="newImage" />
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="newUrl">ลิงก์สื่อการสอน</label>
                    <input type="text" class="form-control" name="newUrl" placeholder="ลิงก์สื่อการสอน" id="newUrl"
                      value="<%= editLesson.vdo_url %>" required>
                  </div>
                  <div class="form-group col-md-12 text-center">
                    <div class="form-group submit-btn">
                      <button type="submit" class="btn btn-success" id="butEditL" style="width: 200px;">บันทึก</button>
                    </div>
                  </div>                  
              </form>
            </div>
          </div>
        </div>
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; STD<span style="font-size: 12px;">s</span> E-learning</span>
            </div>
          </div>
        </footer>

        <script src="
   https://cdn.jsdelivr.net/npm/jwt-decode@4.0.0/build/cjs/index.min.js"></script>
        <script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
        <script src="/public/js/tinymceInit.js"></script>
        <script src="/public/js/script.js"></script>
        <!-- <script src="/public/js/getdata.js"></script> -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/public/vendor/jquery/jquery.min.js"></script>
        <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/public/js/sb-admin-2.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
        <script src="/public/js/demo/datatables-demo.js"></script>
        <script src="js/sb-admin-2.min.js"></script>

        <script src="/public/js/profileDetail.js"></script>
        <script src="/public/js/adminLogin.js"></script>
        <script src="/public/js/adminLogout.js"></script>
        <script src="/public/js/adminRoleCheck.js"></script>
        <script type="application/javascript">
          document.getElementById("createLessonForm").addEventListener("submit", async function (event) {
            event.preventDefault();

            // อัปเดตเนื้อหาใน TinyMCE ก่อนที่ข้อมูลจะถูกส่ง
            tinymce.get('my-expressjs-tinymce-app').save();

            const form = event.target;
            const formData = new FormData(form);

            try {
              const response = await fetch(form.action, {
                method: "POST",
                body: formData
              });
              const result = await response.json();

              if (response.status === 200 && result.status_code === "200") {
                Swal.fire({
                  icon: 'success',
                  title: 'สำเร็จ',
                  text: result.message,
                }).then(() => {
                  window.location.href = "/lesson"; // Redirect to /lesson
                });
              } else {
                Swal.fire({
                  icon: 'error',
                  title: 'เกิดข้อผิดพลาด',
                  text: result.message,
                });
              }
            } catch (error) {
              Swal.fire({
                icon: 'error',
                title: 'เกิดข้อผิดพลาด',
                text: 'Internal Server Error',
              });
            }
          });
        </script>
</body>

</html>