<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>เนื้อหา</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
  <link rel="stylesheet" href="./public/css/style.css" />
  <link rel="stylesheet" href="./public/css/lessonAdmin.css" />
</head>

<body>
  <header class="header">
    <section class="flex">
      <a href="home.html" class="logo">Sexual learning</a>
      <form action="search.html" method="post" class="search-form">
        <input type="text" name="search_box" required placeholder="search courses..." maxlength="100" />
        <button type="submit" class="fas fa-search"></button>
      </form>

      <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <div id="user-btn" class="fas fa-user"></div>
        <div id="toggle-btn" class="fas fa-sun"></div>
      </div>
      <div class="profile">
        <img src="images/pic-1.jpg" class="image" alt="" />
        <h3 class="name">shaikh anas</h3>
        <p class="role">studen</p>
        <a href="profile.html" class="btn">แก้ไขโปรไฟล์</a>
        <div class="flex-btn">
          <a href="login.html" class="option-btn">login</a>
          <a href="register.html" class="option-btn">register</a>
        </div>
      </div>
    </section>
  </header>

  <div class="side-bar">
    <div id="close-btn">
      <i class="fas fa-times"></i>
    </div>

    <div class="profile">
      <img src="./public/img/pic-1.jpg" class="image" alt="" />
      <h3 class="name">shaikh anas</h3>
      <p class="role">student</p>
    </div>

    <nav class="navbar">
      <a href="home.html"><i class="fas fa-home"></i><span>หน้าหลัก</span></a>
      <a href="courses.html"><i class="fas fa-graduation-cap"></i><span>บทเรียน</span></a>
      <a href="teachers.html"><i class="fas fa-chalkboard-user"></i><span>คะแนน</span></a>
      <a href="about.html"><i class="fas fa-question"></i><span> กระทู้</span></a>
      <a href="contact.html"><i class="fas fa-headset"></i><span>contact us</span></a>
    </nav>
  </div>
  <div class="container-ls">
    <h1 class="headL">บทเรียน</h1>
    <div class="butt">
      <a class="btn btn-success" href="/lesson/createLesson">เพิ่มบทเรียน</a>
    </div>
    <div class="tb">
      <table id="lessonTable">
        <thead>
          <tr>
            <th>บทที่</th>
            <th>ชื่อบทเรียน</th>
            <th>รูปปก</th>
            <th>ตัวเลือก</th>
          </tr>
        </thead>
        <tbody>
          <% if (lessons && lessons.length> 0) { %> <% lessons.forEach(function(lesson) { %>
              <tr>
                <td>
                  <%= lesson.lessonNum %>
                </td>
                <td>
                  <%= lesson.lessonName %>
                </td>
                <td>
                  <% if (lesson.image && lesson.image.length> 0) { %>
                    <img src="data:image/png;base64,<%= lesson.image %>" class="card-img-top" alt="Lesson Image" />
                    <% } else { %>
                      <img src="..." class="card-img-top" alt="No Image Available" />
                      <% } %>
                </td>
                <td>
                  <div class="butAll">
                    <a href="/lesson/edit/<%= lesson._id %>" class="btn btn-warning">แก้ไข</a>
                    <a href="/lesson/delete/<%= lesson._id %>" class="btn btn-danger"
                      onclick="return confirm('คุณต้องการลบบทเรียนนี้ใช่หรือไม่?')">ลบ</a>
                  </div>
                </td>
              </tr>
              <% }); %>
                <% } else { %>
                  <tr>
                    <td colspan="4">No lessons available.</td>
                  </tr>
                  <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <script src="./public/js/script.js"></script>
</body>
</html>