<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/public/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
    <title>แบบทดสอบก่อนเรียน</title>
    <script src="/public/js/Noback.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/da08a429d6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/form.css">
    <link rel="stylesheet" href="/public/css/table.css">
    <link href="/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="/public/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-vT5UMPFvujzKqG/Hoj1+0Tk38fANyEelFoOAJu7+8hpA+gSJJi+1WG9CvjKr+J75N8/KDnAMrZbGU9aAAqJ5NA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        .question-container {
            display: none;
        }

        .question-container.active {
            display: block;
        }
      

    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-text mx-3" style="font-size: 15.5px;">STD<span
                        style="font-size: 12px;">s</span> E-learning</div>
            </a>
            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="#" id="classroomLink"> <!-- Copy 1 -->
                    <i class="fa-solid fa-chalkboard-user"></i>
                    <span>ห้องเรียน</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" id="lessonLink">
                    <i class="fa-solid fa-book"></i>
                    <span>บทเรียน</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news/std">
                    <i class="fas fa-newspaper"></i>
                    <span>บทความ</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="scorelink">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span>คะแนน</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/theme">
                    <i class="fas fa-question"></i>
                    <span>กระทู้ถาม-ตอบ</span></a>
            </li>

        </ul>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- notify -->
                    <div class="d-flex justify-content-end w-100">
                        <div class="dropdown no-arrow">
                            <a class="text-decoration-none dropdown-toggle text-secondary mx-3" href="#" id="notifyLink"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-bell" style="font-size: 1.5em;"></i>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white d-none"
                                    id="notifyCount"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right mt-3" id="notifyDropdown">
                                <li class="dropdown-item text-muted">ไม่พบการแจ้งเตือนใหม่</li>
                            </ul>
                        </div>
                    </div>

                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="d-flex flex-column align-items-end">
                                    <span id="userFirstname" class="mr-2 d-none d-lg-inline text-gray-800"></span>
                                    <span id="userRole" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                </div>
                                <i class="fa fa-user-circle-o fa-2x"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" id="profile-link">
                                    <i class=" fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    แก้ไขโปรไฟล์
                                </a>
                                <a class="dropdown-item" href="/change-password">
                                    <i class="fas fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                                    จัดการรหัสผ่าน
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" id="logout" data-toggle="modal"
                                    data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    ออกจากระบบ
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
            <!-- Page Content -->
            <div class="container-fluid">
                <div class="card shadow mb-4" style="max-width: 600px; margin: auto;">
                    <div class="card-header py-3 d-flex justify-content-between" style="padding: 0.75rem;">
                        <h6 class="m-0 font-weight-bold text-dark">คำถามก่อนเรียนบทที่ <%= quizData.lessonId %>
                        </h6>
                        <div id="countdown">เหลือเวลา <span id="time">
                                <%= quizData.timeInMinutes %> นาที 00 วินาที
                            </span></div>
                    </div>
                    <div class="card-body" style="padding: 1rem;">
                        <form id="quizForm" action="/attempt/createAttempt" method="POST">
                            <% if (question && question.length> 0) { %>
                                <% question.forEach((q, index)=> { %>
                                    <div class="question-container <%= index === 0 ? 'active' : '' %>"
                                        id="question_<%= q.questionNumber %>">
                                        <p><span id="qIndex_<%= index + 1 %>">
                                                <%= index + 1 %>.
                                            </span>
                                            <%= q.question %>
                                        </p>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio"
                                                name="answer_<%= q.questionNumber %>"
                                                id="choiceA_<%= q.questionNumber %>" value="choiceA">
                                            <label class="form-check-label" for="choiceA_<%= q.questionNumber %>">
                                                <%= q.choiceA %>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio"
                                                name="answer_<%= q.questionNumber %>"
                                                id="choiceB_<%= q.questionNumber %>" value="choiceB">
                                            <label class="form-check-label" for="choiceB_<%= q.questionNumber %>">
                                                <%= q.choiceB %>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio"
                                                name="answer_<%= q.questionNumber %>"
                                                id="choiceC_<%= q.questionNumber %>" value="choiceC">
                                            <label class="form-check-label" for="choiceC_<%= q.questionNumber %>">
                                                <%= q.choiceC %>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio"
                                                name="answer_<%= q.questionNumber %>"
                                                id="choiceD_<%= q.questionNumber %>" value="choiceD">
                                            <label class="form-check-label" for="choiceD_<%= q.questionNumber %>">
                                                <%= q.choiceD %>
                                            </label>
                                        </div>
                                    </div>
                                    <% }); %>
                                        <% } %>
                                            <input type="hidden" id="quizId" name="quizId" value="<%= quizData._id %>">
                                            <input type="hidden" id="attemptType" name="attemptType" value="pre">
                                            <input type="hidden" id="studentId" name="studentId" value="">
                                            <input type="hidden" id="durationInSec" name="durationInSec" value="">
                                            <div class="d-flex flex-column mt-4">
                                                <button type="button"
                                                    class="btn btn-primary next-btn w-100 mb-2">ถัดไป</button>
                                                <button type="submit" id="submitBtn"
                                                    class="btn btn-success submit-btn mb-2"
                                                    style="display: none;">ส่งคำตอบ</button>
                                                <button type="button" class="btn btn-secondary prev-btn"
                                                    disabled>ย้อนกลับ</button>
                                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
        <script src="/public/vendor/jquery/jquery.min.js"></script>
        <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/public/js/sb-admin-2.min.js"></script>
        <script src="/public/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="/public/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="/public/js/tokenChecked.js"></script>
        <script src="
        https://cdn.jsdelivr.net/npm/jwt-decode@4.0.0/build/cjs/index.min.js"></script>

        <script src="/public/js/profileDetail.js"></script>
        <script src="/public/js/logout.js"></script>

        <script src="/public/js/studentRoleCheck.js"></script><!-- Check teacher role -->
        <script src="/public/js/tokenChecked.js"></script><!-- Check login -->
        <script src="/public/js/notification.js"></script>
        <script src="/public/vendor/jquery/jquery.min.js"></script>
        <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/public/js/sb-admin-2.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Assuming your token is stored in localStorage under the key 'token'
                const token = localStorage.getItem('token');

                if (token) {
                    try {
                        const decodedToken = jwtDecode(token); // Decodes the JWT token

                        // Assuming userId is a field in your token
                        const userId = decodedToken.userId;

                        // Example usage: set the userId value to an input field
                        document.getElementById('studentId').value = userId;
                    } catch (error) {
                        console.error('Error decoding token:', error);
                        // Handle error if decoding fails
                    }
                }
            });
        </script>

        <script>
            // Ensure the DOM is fully loaded
            document.addEventListener('DOMContentLoaded', function () {
                const token = localStorage.getItem('token');
                const decodedToken = jwtDecode(token); // Decodes the JWT token

                // Assuming userId is a field in your token
                const userId = decodedToken.userId;
                if (userId) {
                    // Set the href attribute with the userId
                    const classroomLink = document.getElementById('classroomLink');
                    classroomLink.href = `/classroom/std/${userId}`;
                }
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const token = localStorage.getItem('token');
                let userId;

                if (token) {
                    try {
                        const decodedToken = jwtDecode(token);
                        userId = decodedToken.userId;
                        document.getElementById('studentId').value = userId;
                    } catch (error) {
                        console.error('Error decoding token:', error);
                    }
                }

                const classroomLink = document.getElementById('classroomLink');
                if (classroomLink && userId) {
                    classroomLink.href = `/classroom/std/${userId}`;
                }
            });

            function startTimer(duration, display) {
                let timer = duration;
                const intervalId = setInterval(function () {
                    const minutes = String(Math.floor(timer / 60)).padStart(2, '0');
                    const seconds = String(timer % 60).padStart(2, '0');

                    display.textContent = `${minutes} นาที ${seconds} วินาที`;
                    $('#durationInSec').val(duration - timer); // Change from durationInSeconds to duration

                    if (--timer < 0) {
                        clearInterval(intervalId);
                        autoSubmitForm();
                    }
                }, 1000);
            }

            function autoSubmitForm() {
                Swal.fire({
                    title: 'หมดเวลา!',
                    text: 'กำลังส่งคำตอบของคุณโดยอัตโนมัติ',
                    icon: 'info',
                    timer: 2000,
                    showConfirmButton: false
                }).then(() => {
                    submitForm(true);
                });
            }

            function submitForm(isAutoSubmit) {
                const emptyQuestions = [];

                questionNumbers.forEach((questionNumber, index) => {
                    const answer = $(`input[name="answer_${questionNumber}"]:checked`).val();
                    if (!answer) {
                        emptyQuestions.push(index + 1);
                        $(`#qIndex_${index + 1}`).css('color', 'red');
                    } else {
                        $(`#qIndex_${index + 1}`).css('color', '');
                    }
                });

                if (isAutoSubmit || emptyQuestions.length === 0) {
                    // Submit the form
                    $('#quizForm')[0].submit();
                } else {
                    Swal.fire({
                        title: 'คำตอบไม่ครบถ้วน',
                        text: `คุณยังไม่ได้ตอบคำถามข้อที่ ${emptyQuestions.join(', ')} คุณต้องการส่งคำตอบหรือไม่?`,
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'ส่งคำตอบ',
                        cancelButtonText: 'กลับไปตอบ...'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // If confirmed, submit the form
                            $('#quizForm')[0].submit();
                        }
                    });
                }
            }


            $(document).ready(function () {
                const timeInMinutes = "<%= quizData.timeInMinutes %>";
                const durationInSeconds = 60 * timeInMinutes;
                const display = document.querySelector('#time');
                startTimer(durationInSeconds, display);

                let currentQuestionIndex = 0;
                questionNumbers = <%= JSON.stringify(question.map(q => q.questionNumber)) %>;
                const totalQuestions = questionNumbers.length;

                $('#submitBtn').hide();

                function showQuestion(questionNumber) {
                    $('.question-container').removeClass('active');
                    $('#question_' + questionNumber).addClass('active');
                }

                showQuestion(questionNumbers[currentQuestionIndex]);

                $('.next-btn').click(function () {
                    if (currentQuestionIndex < totalQuestions - 1) {
                        currentQuestionIndex++;
                        showQuestion(questionNumbers[currentQuestionIndex]);
                    }

                    if (currentQuestionIndex === totalQuestions - 1) {
                        $('#submitBtn').show();
                        $(this).hide();
                    }

                    $('.prev-btn').prop('disabled', false);
                });

                $('.prev-btn').click(function () {
                    if (currentQuestionIndex > 0) {
                        currentQuestionIndex--;
                        showQuestion(questionNumbers[currentQuestionIndex]);
                    }

                    if (currentQuestionIndex < totalQuestions - 1) {
                        $('.next-btn').show();
                        $('#submitBtn').hide();
                    }

                    if (currentQuestionIndex === 0) {
                        $(this).prop('disabled', true);
                    }
                });

                $('#quizForm').on('submit', function (event) {
                    event.preventDefault();
                    submitForm(false);
                });
            });
        </script>
        <!-- Copy 2 -->
        <script>
            // Ensure the DOM is fully loaded
            document.addEventListener('DOMContentLoaded', function () {
                const token = localStorage.getItem('token');
                const decodedToken = jwtDecode(token); // Decodes the JWT token
                const classroomId = decodedToken.classroomId;
                // Assuming userId is a field in your token
                const userId = decodedToken.userId;
                if (userId) {
                    // Set the href attribute with the userId
                    const classroomLink = document.getElementById('classroomLink');
                    classroomLink.href = `/classroom/std/${userId}`;

                    const profileLink = document.getElementById('profile-link');
                    profileLink.href = `/profile/${userId}`;

                    const scorelink = document.getElementById('scorelink');
                    scorelink.href = `/attempt/score/${userId}`;
                }

                if (classroomId) {
                    const lessonLink = document.getElementById('lessonLink');
                    lessonLink.href = `/lesson/std/${classroomId}`;
                }
                 // Fetch notifications
                 fetchNotifications(userId);
            });
        </script>
        <!-- End Copy -->



</body>

</html>