<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>แบบทดสอบ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/da08a429d6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/form.css">
    <link rel="stylesheet" href="/public/css/table.css">
    <link rel="stylesheet" href="/public/css/menu.css">
    <link href="/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="/public/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-vT5UMPFvujzKqG/Hoj1+0Tk38fANyEelFoOAJu7+8hpA+gSJJi+1WG9CvjKr+J75N8/KDnAMrZbGU9aAAqJ5NA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .fixed-height-card {
            height: 350px;
            border-radius: 15px;
            overflow: hidden;
            transition: transform 0.3s ease;
        }

        .fixed-height-card:hover {
            transform: scale(0.5.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }

        .fixed-height-card .card-body {
            overflow-y: auto;
            padding: 20px;
        }

        .card-title {
            color: #007bff;
            font-weight: bold;
        }

        .card-text {
            margin-bottom: 10px;
        }

        .btn-link {
            color: #007bff;
        }

        .btn-link.text-danger {
            color: #dc3545 !important;
        }
    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/adminHome">
                <div class="sidebar-brand-text mx-3" style="font-size: 15.5px;">Sexual learning</div>
            </a>
            <li class="nav-item">
                <a class="nav-link" href="/index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="/lesson">
                    <i class="fas fa-book"></i>
                    <span>บทเรียน</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/quizAdmin">
                    <i class="fas fa-book-open"></i>
                    <span>แบบทดสอบ</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newsAdmin">
                    <i class="fas fa-newspaper"></i>
                    <span>บทความ</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">
                    <i class="fas fa-user-group"></i>
                    <span>จัดการผู้ใช้งาน</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-question"></i>
                    <span>กระทู้ถาม-ตอบ</span></a>
            </li>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-10 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="ค้นหา..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary mr-auto" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="d-flex flex-column align-items-end">
                                    <span id="userFirstname" class="mr-2 d-none d-lg-inline text-gray-800"></span>
                                    <span id="userRole" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                </div>
                                <i class="fa fa-user-circle-o fa-2x"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    แก้ไขโปรไฟล์
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" id="logout" data-toggle="modal"
                                    data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-dark">จัดการคำถามบทที่<%= quizData.lessonId %>
                                    <%= quizData.status %>
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <button class="btn btn-primary" id="btnCreate" data-toggle="modal"
                                    data-target="#createQuestionModal">เพิ่มคำถาม</button>
                                <div class="custom-table">
                                    <% if (question && question.length> 0) { %>
                                        <% question.forEach(function(question) { %>
                                            <div class="question-row">
                                                <div
                                                    class="question-item d-flex justify-content-between align-items-center">
                                                    <div class="d-flex font-weight-bold">
                                                        <span class="label">ข้อที่ </span>
                                                        <span class="value">
                                                            <%= question.questionNumber %>
                                                        </span>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-center gap-3>
                                                        <span class=" actionButt">
                                                        <button type="button"
                                                            class="btn btn-link text-secondary edit-btn"
                                                            data-toggle="modal" data-target="#editQuestionModal"
                                                            data-id="<%= question._id %>">
                                                            <i class="fas fa-pen-square fa-2x"></i>
                                                        </button>
                                                        <a href="/question/delete/<%= question._id %>"
                                                            class="text-danger delete-link"><i
                                                                class="fas fa-remove fa-2x"></i></a>
                                                        </span>
                                                    </div>

                                                </div>
                                                <div class="question-item">
                                                    <span class="label">question:</span>
                                                    <span class="value">
                                                        <%= question.question %>
                                                    </span>
                                                </div>
                                                <div class="question-item">
                                                    <span
                                                        class="label <%= question.correctAnswer === 'choiceA' ? 'text-success' : '' %>">a:</span>
                                                    <span
                                                        class="value <%= question.correctAnswer === 'choiceA' ? 'text-success' : '' %>">
                                                        <%= question.choiceA %>
                                                            <% if (question.correctAnswer==='choiceA' ) { %>
                                                                <i class="fas fa-check"></i>
                                                                <% } %>
                                                    </span>
                                                </div>
                                                <div class="question-item">
                                                    <span
                                                        class="label <%= question.correctAnswer === 'choiceB' ? 'text-success' : '' %>">b:</span>
                                                    <span
                                                        class="value <%= question.correctAnswer === 'choiceB' ? 'text-success' : '' %>">
                                                        <%= question.choiceB %>
                                                            <% if (question.correctAnswer==='choiceB' ) { %>
                                                                <i class="fas fa-check"></i>
                                                                <% } %>
                                                    </span>
                                                </div>
                                                <div class="question-item">
                                                    <span
                                                        class="label <%= question.correctAnswer === 'choiceC' ? 'text-success' : '' %>">c:</span>
                                                    <span
                                                        class="value <%= question.correctAnswer === 'choiceC' ? 'text-success' : '' %>">
                                                        <%= question.choiceC %>
                                                            <% if (question.correctAnswer==='choiceC' ) { %>
                                                                <i class="fas fa-check"></i>
                                                                <% } %>
                                                    </span>
                                                </div>
                                                <div class="question-item">
                                                    <span
                                                        class="label <%= question.correctAnswer === 'choiceD' ? 'text-success' : '' %>">d:</span>
                                                    <span
                                                        class="value <%= question.correctAnswer === 'choiceD' ? 'text-success' : '' %>">
                                                        <%= question.choiceD %>
                                                            <% if (question.correctAnswer==='choiceD' ) { %>
                                                                <i class="fas fa-check"></i>
                                                                <% } %>
                                                    </span>
                                                </div>

                                                <hr class="sidebar-divider">
                                            </div>
                                            <% }); %>
                                                <% } else { %>
                                                    <div class="no-questions">No questions available.</div>
                                                    <% } %>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createQuestionModal" tabindex="-1" role="dialog"
        aria-labelledby="createQuestionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createQuestionModalLabel">เพิ่มคำถาม</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="createQuestionForm" action="/question/createQuestion" method="POST"
                    style="margin:  0; width: 100%;">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="question">คำถาม:</label>
                            <textarea name="question" rows="3" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>คำตอบ:</label>
                            <div class="question-container">
                                <div class="question">
                                    <label>a</label>
                                    <input type="text" name="choiceA" class="form-control">
                                </div>
                                <div class="question">
                                    <label>b</label>
                                    <input type="text" name="choiceB" class="form-control">
                                </div>
                                <div class="question">
                                    <label>c</label>
                                    <input type="text" name="choiceC" class="form-control">

                                </div>
                                <div class="question">
                                    <label>d</label>
                                    <input type="text" name="choiceD" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>คำตอบที่ถูกต้อง:</label>
                            <select id="correctAnswer" name="correctAnswer" class="form-control">
                                <option value="choiceA">a</option>
                                <option value="choiceB">b</option>
                                <option value="choiceC">c</option>
                                <option value="choiceD">d</option>
                            </select>
                        </div>
                        <input type="hidden" id="quizId" name="quizId" value="<%= quizData._id %>">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="submit" name="submit" class="btn btn-primary">บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script> //
        document.addEventListener('DOMContentLoaded', function () {
            const editButtons = document.querySelectorAll('.edit-btn');

            editButtons.forEach(button => {
                button.addEventListener('click', async function () {
                    const questionId = this.getAttribute('data-id');

                    try {
                        // Fetch the question data using the question ID
                        const response = await fetch(`/question/getQuestion/${questionId}`);
                        const question = await response.json();


                        // Populate the modal form with the question data
                        document.querySelector('#editQuestionModal textarea[name="question"]').value = question.question;
                        document.querySelector('#editQuestionModal input[name="choiceA"]').value = question.choiceA;
                        document.querySelector('#editQuestionModal input[name="choiceB"]').value = question.choiceB;
                        document.querySelector('#editQuestionModal input[name="choiceC"]').value = question.choiceC;
                        document.querySelector('#editQuestionModal input[name="choiceD"]').value = question.choiceD;
                        document.querySelector('#editQuestionModal select[name="correctAnswer"]').value = question.correctAnswer;
                        document.querySelector('#editQuestionModal input[name="quizId"]').value = question.quizId;
                    } catch (error) {
                        console.error('Error fetching question data:', error);
                    }
                });
            });
        });
    </script>

    <div class="modal fade" id="editQuestionModal" tabindex="-1" role="dialog" aria-labelledby="editQuestionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editQuestionModalLabel">แก้ไขคำถาม</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="editQuestionForm" action="/question/edit/<%= question._id %>" method="POST"
                    style="margin: 0; width: 100%;">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="question">คำถาม:</label>
                            <textarea name="question" rows="3" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label>คำตอบ:</label>
                            <div class="question-container">
                                <div class="question">
                                    <label>a</label>
                                    <input type="text" name="choiceA" class="form-control">
                                </div>
                                <div class="question">
                                    <label>b</label>
                                    <input type="text" name="choiceB" class="form-control">
                                </div>
                                <div class="question">
                                    <label>c</label>
                                    <input type="text" name="choiceC" class="form-control">
                                </div>
                                <div class="question">
                                    <label>d</label>
                                    <input type="text" name="choiceD" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>คำตอบที่ถูกต้อง:</label>
                            <select id="correctAnswer" name="correctAnswer" class="form-control">
                                <option value="choiceA">a</option>
                                <option value="choiceB">b</option>
                                <option value="choiceC">c</option>
                                <option value="choiceD">d</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="quizId" name="quizId">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="submit" name="submit" class="btn btn-primary">บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="
    https://cdn.jsdelivr.net/npm/jwt-decode@4.0.0/build/cjs/index.min.js"></script>
    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/public/js/sb-admin-2.min.js"></script>
    <script src="/public/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/public/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/public/js/datatables-demo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
    <script src="/public/js/tinymceInit.js"></script>
    <script src="/public/js/script.js"></script>
    <script src="/public/js/getdata.js"></script>

    <script src="/public/js/profileDetail.js"></script>
    <script src="/public/js/adminLogout.js"></script>

    <script type="application/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const deleteLinks = document.querySelectorAll(".delete-link");

            deleteLinks.forEach(link => {
                link.addEventListener("click", function (event) {
                    event.preventDefault();
                    const href = this.getAttribute("href");

                    Swal.fire({
                        title: 'ต้องการลบคำถามนี้ใช่หรือไม่?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'ใช่, ลบเลย!',
                        cancelButtonText: 'ยกเลิก'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = href;
                        }
                    });
                });
            });
        });
    </script>
</body>

</html>