<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>เนื้อหา</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link rel="stylesheet" href="./public/css/style.css" />
    <link rel="stylesheet" href="./public/css/lessonAdmin.css" />
  </head>
  <body>
    <header class="header">
      <section class="flex">
        <a href="home.html" class="logo">Sexual learning</a>
        <form action="search.html" method="post" class="search-form">
          <input
            type="text"
            name="search_box"
            required
            placeholder="search courses..."
            maxlength="100"
          />
          <button type="submit" class="fas fa-search"></button>
        </form>

        <div class="icons">
          <div id="menu-btn" class="fas fa-bars"></div>
          <div id="search-btn" class="fas fa-search"></div>
          <div id="user-btn" class="fas fa-user"></div>
          <div id="toggle-btn" class="fas fa-sun"></div>
        </div>
        <div class="profile">
          <img src="images/pic-1.jpg" class="image" alt="" />
          <h3 class="name">shaikh anas</h3>
          <p class="role">studen</p>
          <a href="profile.html" class="btn">แก้ไขโปรไฟล์</a>
          <div class="flex-btn">
            <a href="login.html" class="option-btn">login</a>
            <a href="register.html" class="option-btn">register</a>
          </div>
        </div>
      </section>
    </header>

    <div class="side-bar">
      <div id="close-btn">
        <i class="fas fa-times"></i>
      </div>

      <div class="profile">
        <img src="./public/img/pic-1.jpg" class="image" alt="" />
        <h3 class="name">shaikh anas</h3>
        <p class="role">student</p>
      </div>

      <nav class="navbar">
        <a href="home.html"><i class="fas fa-home"></i><span>หน้าแรก</span></a>
        <a href="/lesson"
          ><i class="fas fa-graduation-cap"></i><span>บทเรียน</span></a
        >
        <a href="/quiz"
          ><i class="fas fa-graduation-cap"></i><span>แบบทดสอบ</span></a
        >
        <a href="/score"
          ><i class="fas fa-chalkboard-user"></i><span>คะแนน</span></a
        >
        <a href="/theme"><i class="fas fa-question"></i><span> กระทู้</span></a>
        <a href="/news"
          ><i class="fa-light fa-newspaper"></i><span> บทความ</span></a
        >
        <a href="contact.html"
          ><i class="fas fa-headset"></i><span>contact us</span></a
        >
      </nav>
    </div>
    <div class="container-ls">
      <h1 class="headMain">แบบทดสอบ</h1>
      <div class="butt">
        <a class="btn btn-success" id="butt" href="/quiz/createQuiz"
          >เพิ่มแบบทดสอบ</a
        >
      </div>
      <div class="tb">
        <table id="lessonTable">
          <thead>
            <tr>
              <th scope="col">บทที่</th>
              <th scope="col">ชื่อควิซ</th>
              <th scope="col">ประเภทแบบทดสอบ</th>
              <th scope="col">จำนวนคำถาม</th>
              <th scope="col">เวลา (นาที)</th>
              <th scope="col">คะแนน</th>
              <th scope="col">จัดการ</th>
            </tr>
          </thead>
          <tbody>
            <% if (quiz && quiz.length > 0) { %><% quiz.forEach(function(quiz) {
            %>
            <tr>
              <td><%= quiz.lessonId %></td>
              <td><%= quiz.quizName %></td>
              <td><%= quiz.status %></td>
              <td><%= quiz.numberOfQuestions %></td>
              <td><%= quiz.timeInMinutes %></td>
              <td><%= quiz.score %></td>
              <td>
                <div class="butAll">
                  <a
                    href="#"
                    class="btn btn-secondary btn-lg active"
                    id="btnManageL"
                    ><i id="pass-toggle-btn" class="fa-solid fa-eye"></i
                  ></a>
                  <a
                    href="/quiz/edit/<%= quiz._id %>"
                    class="btn btn-warning"
                    id="btnManageM"
                    ><i class="fa-regular fa-pen-to-square"></i
                  ></a>
                  <a
                    href="/quiz/delete/<%= quiz._id %>"
                    class="btn btn-danger"
                    onclick="return confirm('คุณต้องการลบบทเรียนนี้ใช่หรือไม่?')"
                    id="btnManageR"
                    >X</a
                  >
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
        <p>No lessons available</p>
        <% } %>
      </div>
    </div>
    <script src="./public/js/script.js"></script>
  </body>
</html>
