<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/da08a429d6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/form.css">
    <link rel="stylesheet" href="/public/css/table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/da08a429d6.js" crossorigin="anonymous"></script>
    <link href="/public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="/public/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-vT5UMPFvujzKqG/Hoj1+0Tk38fANyEelFoOAJu7+8hpA+gSJJi+1WG9CvjKr+J75N8/KDnAMrZbGU9aAAqJ5NA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/adminHome">
                <div class="sidebar-brand-text mx-3" style="font-size: 15.5px;">Sexual learning</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="/index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link" href="/lesson">
                    <i class="fas fa-book"></i>
                    <span>บทเรียน</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quizAdmin">
                    <i class="fas fa-book-open"></i>
                    <span>แบบทดสอบ</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/newsAdmin">
                    <i class="fas fa-newspaper"></i>
                    <span>บทความ</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/user">
                    <i class="fas fa-user-group"></i>
                    <span>จัดการผู้ใช้งาน</span></a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-question"></i>
                    <span>กระทู้ถาม-ตอบ</span></a>
            </li>
        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-10 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="ค้นหา..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary mr-auto" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <div class="d-flex flex-column align-items-end">
                                <span id="userFirstname" class="mr-2 d-none d-lg-inline text-gray-800"></span>
                                <span id="userRole" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                              </div>
                              <i class="fa fa-user-circle-o fa-2x"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                              <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                แก้ไขโปรไฟล์
                              </a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#" id="logout" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                              </a>
                            </div>
                          </li>
                    </ul>
                </nav>

                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-dark">จัดการผู้ใช้งาน</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ชื่อ</th>
                                            <th>อีเมล</th>
                                            <th>โรงเรียน</th>
                                            <th>บทบาท</th>
                                            <th colspan="3">จัดการ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (user && user.length> 0) { %>
                                            <% user.forEach(function(user) { %>
                                                <tr>
                                                    <td>
                                                        <%= user.firstname %>
                                                            <%= user.lastname %>
                                                    </td>
                                                    <td>
                                                        <%= user.email %>
                                                    </td>
                                                    <td>
                                                        <%= user.school %>
                                                    </td>
                                                    <td>
                                                        <%= user.role %>
                                                    </td>
                                                    <td>
                                                        <a href="#" data-toggle="modal" data-target="#updateUserModal"
                                                            data-id="<%= user._id %>"
                                                            data-firstname="<%= user.firstname %>"
                                                            data-lastname="<%= user.lastname %>"
                                                            data-email="<%= user.email %>"
                                                            data-school="<%= user.school %>">
                                                            <i class="fas fa-pen-square" id="edit"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="/user/delete/<%= user._id %>"
                                                            onclick="return confirm('คุณต้องการลบผู้ใช้นี้ใช่หรือไม่?')">
                                                            <i class="fas fa-trash" id="delete"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                                    <% } else { %>
                                                        <tr>
                                                            <td colspan="4">No user available.</td>
                                                        </tr>
                                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Update User Modal -->
                <div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog"
                    aria-labelledby="updateUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateUserModalLabel">แก้ไขผู้ใช้งาน</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="updateUserForm" method="put" action="">
                                    <input type="hidden" id="userId" name="id">
                                    <div class="form-group">
                                        <label for="newFirstName">ชื่อ</label>
                                        <input type="text" class="form-control" id="newFirstName" name="newFirstName">
                                    </div>
                                    <div class="form-group">
                                        <label for="newLastName">นามสกุล</label>
                                        <input type="text" class="form-control" id="newLastName" name="newLastName">
                                    </div>
                                    <div class="form-group">
                                        <label for="newEmail">อีเมล</label>
                                        <input type="email" class="form-control" id="newEmail" name="newEmail">
                                    </div>
                                    <div class="form-group">
                                        <label for="newSchool">โรงเรียน</label>
                                        <input type="text" class="form-control" id="newSchool" name="newSchool">
                                    </div>
                                    <button type="submit" class="btn btn-primary">บันทึก</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Logout Modal-->
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">คุณต้องการออกจากระบบหรือไม่?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-primary" href="/logout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Sexual Learning 2023</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/public/js/sb-admin-2.min.js"></script>
    <script src="/public/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/public/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/public/js/demo/datatables-demo.js"></script>
    <script>
        $('#updateUserModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var firstname = button.data('firstname');
            var lastname = button.data('lastname');
            var email = button.data('email');
            var school = button.data('school');
            var modal = $(this);
            modal.find('.modal-body #userId').val(id);
            modal.find('.modal-body #newFirstName').val(firstname);
            modal.find('.modal-body #newLastName').val(lastname);
            modal.find('.modal-body #newEmail').val(email);
            modal.find('.modal-body #newSchool').val(school);
            modal.find('form').attr('action', '/user/updateUserById/' + id);
        });

        $('#updateUserForm').on('submit', function (event) {
            event.preventDefault();

            var form = $(this);
            var actionUrl = form.attr('action');
            var formData = form.serialize();

            $.ajax({
                url: actionUrl,
                type: 'PUT',
                data: formData,
                success: function (response) {
                    alert('User updated successfully');
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Failed to update user: ' + textStatus);
                }
            });
        });
    </script>
    <script src="
    https://cdn.jsdelivr.net/npm/jwt-decode@4.0.0/build/cjs/index.min.js"></script>
    
         <script src="/public/js/profileDetail.js"></script>
         <script src="/public/js/adminLogout.js"></script>
</body>

</html>